<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website to help clients search for clothes manufacturers. Create custom orders.">
    <title>Create Order</title>
    <script type ="text/javascript" src="js/orders.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/components.css">
    <link rel="stylesheet" href="style/selectFilters.css">
    <link rel="stylesheet" href="style/creationAndManagement.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Volkhov:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
    <h2>Sewing factory</h2>
    <ul>
        <li><a href="/index">Index</a></li>
        <li><a href="/producers">Search Manufacturing</a></li>
        <li><a href="/orders">Search Order</a></li>
        <li><a href="/create_order">Create Order</a></li>
        <li><a href="/user_room">User Room</a></li>
    </ul>
</div>
<div id="creation">
    <div id="filters">
        <div id="text-fields">
            <div>
                <label>Name:<br/>
                    <input type="text" id="name">
                </label>
            </div>
            <div>
                <label>Small Description: <br/>
                    <textarea id="small_description"></textarea>
                </label>

            </div>
            <div>
                <label>Description: <br/>
                    <textarea id="description"></textarea>
                </label>

            </div>
        </div>
        <div id="region">
            <label class="flex">Region:
                <div>
                    <select id="region_id">
                        <% for (var i = 0; i < regions.length; i++) { %>
                        <option value="<%= regions[i].id%>"><%= regions[i].region_name%></option>
                        <% } %>
                    </select>
                </div>
            </label>
        </div>
        <div class="flex">
            <div>
                <label class="filter">Steps:<br/>
                    <div>
                        <% for (var i = 0; i < steps.length; i++) { %>
                        <div>
                            <label class="small"><%= steps[i].name %>: <input type="checkbox" name="producer_steps"
                                                                              value="<%= steps[i].id %>"/></label>
                        </div>

                        <% } %>
                    </div>
                </label>
            </div>
            <div class="filter">
                <label>Types: </label>
                <div>
                    <% for (var i = 0; i < types.length; i++) { %>
                    <div style="margin: 5px">
                        <label class="small"><%= types[i].name %>: <input type="checkbox" name="producer_types"
                                                                          value="<%= types[i].id %>"/>
                        </label>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div id="media">
            <label>Additional media: <br/>
                <input type="file" id="file"/>
            </label>
        </div>
        <button class="beauty" type="button" onclick="create_order()">Create Order</button>
    </div>
</div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</html>
