<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website to help clients search for clothes manufacturers. Create custom orders.">
    <title>Manage Producer</title>
    <script type ="text/javascript" src="js/producers.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/components.css">
    <link rel="stylesheet" href="style/selectFilters.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Volkhov:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
    <h2>Sewing factory</h2>
    <ul>
        <li><a href="/index">Index</a></li>
        <li><a href="/producers">Search Manufacturing</a></li>
        <li><a href="/orders">Search Order</a></li>
        <li><a href="/create_order">Create Order</a></li>
        <li><a href="/user_room">User Room</a></li>
    </ul>
</div>
<div style="padding: 40px">
    <div id="filters">
        <div style="display: flex; justify-content: space-between">
            <div>
                <label>Name:<br/>
                    <input type="text" id="name"
                    <% if (producer !== undefined) {%>
                    value="<%= producer.name %>"
                    <% } else {%>
                    value=""
                    <% } %>
                    >
                </label>
            </div>
            <div>
                <label>Description: <br/>
                        <% if (producer !== undefined) {%>
                            <textarea id="description" style="width: 400px">
                                <%= producer.description %>
                            </textarea>
                        <% } else {%>
                            <textarea id="description" style="width: 400px">
                            </textarea>
                        <% } %>
                </label>

            </div>
        </div>
        <div>
            <label style="display: flex">Region:
                <div style="font-size: 20px">
                    <select id="region_id">
                        <% for (var i = 0; i < regions.length; i++) { %>
                        <option value="<%= regions[i].id%>"
                            <% if(producer !== undefined) {%>
                                <% if(producer.region_id === regions[i].id) {%>
                                    selected
                                <% } %>
                            <% } %>
                        ><%= regions[i].region_name%></option>
                        <% } %>
                    </select>
                </div>
            </label>
        </div>
        <div style="display: flex">
            <label>Steps:<br/>
                <div style="width: 800px;">
                    <% for (var i = 0; i < steps.length; i++) { %>
                    <div style="margin: 5px;">
                        <label class="small"><%= steps[i].name %>: <input type="checkbox" name="producer_steps"
                                                                          value="<%= steps[i].id %>"
                            <% if (steps[i].checked) {%>
                            checked
                            <%}%>
                        /></label>
                    </div>

                    <% } %>
                </div>
            </label>
            <div>
                <label>Types: </label>
                <div style="font-weight: normal; font-size: 24px; width: 800px">
                    <% for (var i = 0; i < types.length; i++) { %>
                    <div style="margin: 5px">
                        <label class="small"><%= types[i].name %>: <input type="checkbox" name="producer_types"
                                                                          value="<%= types[i].id %>"
                            <% if (types[i].checked) {%>
                            checked
                            <%}%>
                        />
                        </label>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div>
            <% if(producer !== undefined) {%>
            <label>Already Image: <br/>
                <img src="<%= producer.image_link %>">
            </label>
            <% } %>
            <label>Additional media: <br/>
                <p>If your manufacture has already an image, you can choose the new one, or remain old one.</p><br/>
                <input style="border: none; font-size: 18px" type="file" id="file"/>
            </label>
        </div>
        <button class="beauty" type="button" onclick="manageProducer()">
            <% if (producer === undefined) { %>
            Create Producer
            <% } else { %>
            Update Producer
            <% } %>
        </button>
    </div>
</div>
</body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</html>
