<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website to help clients search for clothes manufacturers.">
    <title>Orders</title>
    <script type ="text/javascript" src="js/orders.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/components.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Volkhov:ital@0;1&display=swap" rel="stylesheet">
    <style>
        div#filters {
            width: 25%;
            border-right: dashed 3px #4F3B29;
        }

    </style>
</head>
<body>
<div id="header">
    <h2>Sewing factory</h2>
    <ul>
        <li><a href="/index">Index</a></li>
        <li><a href="/producers">Search Manufacturing</a></li>
        <li><a href="/orders">Search Order</a></li>
        <li><a href="/create_order">Create Order</a></li>
        <li><a href="/user_room">User Room</a></li>
    </ul>
</div>
<div style="display: flex; padding: 40px">
    <div id="filters">
        <div>
            <div>
                <label>Region:<br/>
                    <select style="font-size: 18px;" onchange="openPage(0)" id="region_id">
                        <% for (var i = 0; i < regions.length; i++) { %>
                        <option value="<%= regions[i].id%>"><%= regions[i].region_name%></option>
                        <% } %>
                    </select>
                </label>
            </div>
        </div>
        <div>
            <label>Steps: </label>
            <div>
                <% for (var i = 0; i < steps.length; i++) { %>
                <label class="small"><%= steps[i].name %>: <input onclick="openPage(0)" type="checkbox"
                                                                  name="producer_steps"
                                                                  value="<%= steps[i].id %>"/></label><br/>
                <% } %>
            </div>
        </div>
        <div>
            <label>Types: </label>
            <div>
                <% for (var i = 0; i < types.length; i++) { %>
                <label class="small"><%= types[i].name %>: <input onclick="openPage(0)" type="checkbox"
                                                                  name="producer_types"
                                                                  value="<%= types[i].id %>"/></label><br/>
                <% } %>
            </div>
        </div>
    </div>
    <div id="orders" style="width: 50%">
    </div>
    <div id="adds">
        <h3>Add</h3>
    </div>
</div>
<div id="buttons" style="text-align: center">
    <button class="beauty">Prev</button>
    <button class="beauty">Next</button>
</div>
</body>
<style>
    div#orders p {
        width: 100px;
        font-family: Volkhov;
        color: #4F3B29;
    }

    div#adds {
        width: 25%;
        text-align: center;
        border-left: dashed 3px #4F3B29;
        color: #4F3B29;
    }
</style>
<script>
  openPage(0);
</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</html>
