<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website to help clients search for clothes manufacturers">
    <title>User Room</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Volkhov:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
<div id="header">
    <h2>Sewing factory</h2>
    <ul style="display: flex">
     <li style="width: 20%"><a href="/index">Index</a></li>
     <li style="width: 20%"><a href="/producers">Search Manufacturing</a></li>
     <li style="width: 20%"><a href="/orders">Search Order</a></li>
     <li style="width: 20%"><a href="/create_order">Create Order</a></li>
     <li style="width: 20%;"><a href="/user_room">User Room</a></li>
    </ul>
</div>
<div id="room">
    <h2>Hello, <%= username %>!</h2>
    <button type="button" class="beauty" data-toggle="modal" data-target="#exampleModal1"> Change my personal data </button>
    <% if (producer_already_existed) {%>
    <button type="button" class="beauty" data-toggle="modal" data-target="#exampleModal2" onclick=""> Update your manufacture </button>
    <% } else {%>
    <button type="button" class="beauty" data-toggle="modal" data-target="#exampleModal2" onclick=""> Add your manufacture </button>
    <% }%>
    <button type="button" class="beauty" onclick="openOrdersHistory()"> Orders History </button>
    <button type="button" class="beauty" data-toggle="modal" data-target="#exampleModal3"> Change Password </button>
    <button type="button" class="beauty" onclick="deleteCookies()"> Logout </button>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Personal data</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label>Phone: <input type="text" name="" id="phone_number" value="<%= phone %>"/></label>
                    <br/>
                    <label>Name: <input type="text" name="" id="name" value="<%= name %>"/></label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="beauty-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="beauty" onclick="setNewPersonalData()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Producer data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="first">
                <form>
                    <label>Name of your manufacture: <input type="text" name="" id="producer_name" value="<%=producer_name%>"/></label>
                    <label>Region:
                        <select id="region_id">
                            <% for (var i = 0; i < regions.length; i++) { %>
                            <% if (regions[i].id === region_id) {%>
                            <option value="<%= regions[i].id%>" selected><%= regions[i].region_name%></option>
                            <%} else {%>
                            <option value="<%= regions[i].id%>"><%= regions[i].region_name%></option>
                            <% } %>
                            <% } %>
                        </select>
                    </label>
                    <div><label>Types:</label>
                        <% for (var i = 0; i < types.length; i++) { %>
                        <p><%= types[i].name %>:  <input type="checkbox" name="producer_types" value="<%= types[i].id %>"
                            <% if (types[i].check) {%>
                            checked
                            <%}%>
                        /></p>
                        <% } %>
                    </div>
                    <div><label>Steps:</label>
                        <% for (var i = 0; i < steps.length; i++) { %>
                        <p><%= steps[i].name %>:  <input type="checkbox" name="producer_steps" value="<%= steps[i].id %>"
                            <% if (steps[i].check) {%>
                            checked
                            <%}%>/></p>
                        <% } %>
                    </div>
                    <label>Description:
                        <textarea id="description" name="description" rows="7" cols="48" placeholder="Enter description."><%= description %></textarea>
                    </label>
                    <label>Additional media: <br/> <input style="border: none;" type="file" id="file"/></label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="beauty-secondary" data-dismiss="modal">Close</button>
                <% if (producer_already_existed) {%>
                <button type="button" class="beauty" onclick="updateManufacture()">Update Manufacture</button>
                <%} else {%>
                <button type="button" class="beauty" onclick="createManufacture()">Create Manufacture</button>
                <%}%>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label>Old Password: <input type="text" name="" id="old_password" value=""/></label>
                    <label>New Password: <input type="text" name="" id="new_password" value=""/></label>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="beauty-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="beauty" onclick="changePassword()">Change Password</button>
            </div>
        </div>
    </div>
</div>
</body>

<style>
    div#room{
        padding: 50px 80px;
    }
    div#room h2{
        color: #4F3B29;
        font-family: Volkhov;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
    }

    .beauty{
        margin: 10px;
        border-radius: 20px;
        background-color: #bd8450;
        border: none;
        color: #FFFFFF;
        font-weight: bold;
        padding: 10px;
    }
    .beauty-secondary{
        margin: 10px;
        border-radius: 20px;
        background-color: #4F3B29;
        border: none;
        color: #FFFFFF;
        font-weight: bold;
        padding: 10px;
    }
    div#header{
        background-color: #bd8450;
        background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    div#header h2{
        font-family: Volkhov;
        font-style: italic;
        font-weight: normal;
        font-size: 36px;
        color: #ffffff;
        width: 250px;
        margin: auto;
        text-align: center;
    }

    div#header ul{
        display: flex;
        margin: 10px 40px;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
    }

    div#header li{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 5px;
    }

    div#header a{
        text-decoration: none;
        font-family: Volkhov;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
        color: #FFFFFF;
        margin: auto;
    }
    label{
        margin: 10px auto;
        font-weight: bold;
    }
    input, textarea, select{
        border: dashed 1px #4F3B29;
        border-radius: 20px;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>

    function deleteCookies(){
        document.cookie = 'token=nothing';
        window.location.reload();
    }

    function setNewPersonalData() {
        $.ajax({
            url: '/set_new_user_data',
            type: 'POST',
            data: {
                phone_number: document.getElementById('phone_number').value,
                name: document.getElementById('name').value
            },
            success: (data) => {
                if (data === 200) {
                    window.location.replace('/user_room');
                } else {
                    window.alert("Wrong password or email!");
                }
            }
        });
    }

    function isValidatedCreate(formData) {
      let message = '';
      let flag = true;
      if(formData.get('image').size === undefined) {
        message += "Оберіть файл\n"
        flag = false;
      }
      if (formData.get('producer_name').length === 0){
        message +="Введіть назву виробництва\n";
        flag = false;
      }
      if (formData.get('types').length === 0){
        message += "Оберіть хоча б один тип виробництва\n";
        flag = false;
      }
      if (formData.get('steps').length === 0){
        message += "Оберіть хоча б один крок виробництва\n";
        flag = false;
      }
      if (formData.get('description').length === 0){
        message +="Введіть опис виробництва\n";
        flag = false;
      }
      if(!flag){
        alert(message);
        return flag
      }
      return flag
    }

    function isValidatedUpdate(formData) {
      let message = '';
      let flag = true;
      if (formData.get('producer_name').length === 0){
        message +="Введіть назву виробництва\n";
        flag = false;
      }
      if (formData.get('types').length === 0){
        message += "Оберіть хоча б один тип виробництва\n";
        flag = false;
      }
      if (formData.get('steps').length === 0){
        message += "Оберіть хоча б один крок виробництва\n";
        flag = false;
      }
      if (formData.get('description').length === 0){
        message +="Введіть опис виробництва\n";
        flag = false;
      }
      if(!flag){
        alert(message);
        return flag
      }
      return flag
    }

    function createManufacture() {
      let types = document.getElementsByName('producer_types');
      let steps = document.getElementsByName('producer_steps');
      let types_for_request = [];
      let steps_for_request = [];
      for (let i = 0; i < types.length; i++) {
        if (types[i].checked) {
          types_for_request.push(types[i].getAttribute('value'));
        }
      }
      for (let i = 0; i < steps.length; i++) {
        if (steps[i].checked) {
          steps_for_request.push(steps[i].getAttribute('value'));
        }
      }
      var formData = new FormData();
      formData.append('image', document.getElementById("file").files[0]);
      formData.append('producer_name', document.getElementById('producer_name').value);
      formData.append('types', types_for_request);
      formData.append('steps', steps_for_request);
      formData.append('region_id', document.getElementById('region_id').value,);
      formData.append('description', document.getElementById('description').value);
      if(isValidatedCreate(formData)) {
        fetch('/create_manufacture', {
          method: 'POST',
          body: formData,
        }).then(data => {
          if (data.status === 200) location.replace('/user_room');
          else window.alert('You can\'t!');
        });
      }
    }

    function updateManufacture() {
      let types = document.getElementsByName('producer_types');
      let steps = document.getElementsByName('producer_steps');
      let types_for_request = [];
      let steps_for_request = [];
      for (let i = 0; i < types.length; i++) {
        if (types[i].checked) {
          types_for_request.push(types[i].getAttribute('value'));
        }
      }
      for (let i = 0; i < steps.length; i++) {
        if (steps[i].checked) {
          steps_for_request.push(steps[i].getAttribute('value'));
        }
      }
      var formData = new FormData();
      formData.append('producer_name', document.getElementById('producer_name').value);
      formData.append('types', types_for_request);
      formData.append('steps', steps_for_request);
      formData.append('region_id', document.getElementById('region_id').value,);
      formData.append('description', document.getElementById('description').value);
      if (isValidatedUpdate(formData)) {
        fetch('/update_manufacture', {
          method: 'POST',
          body: formData,
        }).then(data => {
          if (data.status === 200) location.replace('/user_room');
          else window.alert('You can\'t!');
        });
      }
    }

    function changePassword() {
        $.ajax({
            url: '/change_password',
            type: 'POST',
            data: {
                new_password: document.getElementById('new_password').value,
                old_password: document.getElementById('old_password').value,
            },
            success: (data) => {
                if (data === 406) {
                    window.location.replace('/user_room');
                } else {
                    if (data === 'Wrong old password!') {
                        window.alert("Wrong old password!");
                    } else {
                        document.cookie = 'token=' + data.token;
                        window.location.replace('/user_room');
                    }
                }
            }
        });
    }

    function openOrdersHistory() {
      window.location.replace('/orders_history');
    }
</script>
</html>
